@model Training.Web.Models.MatchIndexViewModel

@using (Html.BeginForm("Index", "Match", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.LeagueId)

    @Html.ValidationSummary()

    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(x => x.SelectedHomeTeamId)
                    <br />
                    @Html.DropDownListFor(x => x.SelectedHomeTeamId, Model.Teams.Select(x => new SelectListItem { Text = x.Name, Value = x.Id.ToString(), Selected = x.Id == Model.SelectedHomeTeamId }), "-- Select Home Team --")
                </div>

                <div class="col-md-1 col-md-offset-2">
                    @Html.LabelFor(x => x.HomeTeamScore)
                    <br />
                    @Html.TextBoxFor(x => x.HomeTeamScore)
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(x => x.SelectedAwayTeamId)
                    <br />
                    @Html.DropDownListFor(x => x.SelectedAwayTeamId, Model.Teams.Select(x => new SelectListItem { Text = x.Name, Value = x.Id.ToString(), Selected = x.Id == Model.SelectedAwayTeamId }), "-- Select Away Team --")
                </div>

                <div class="col-md-1 col-md-offset-2">
                    @Html.LabelFor(x => x.AwayTeamScore)
                    <br />
                    @Html.TextBoxFor(x => x.AwayTeamScore)
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <input type="submit" class="btn btn-default" value="Input" />
    </div>
}
